@media only screen and (min-device-width: 320px) and (max-device-width: 648px) {
    .about_box{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
       
    }

    
  }


.about_box{
    display: flex;
    justify-content: space-around;
    padding-top: 4em;
}

.para_right{
    margin: 4em;

}

.para_right > p, .greet {
    color: lightgray;

}

.img_left{
    margin: 2em;
}