body{
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  overflow: scroll;

}

.container{
  margin: 0 70px;
}


*{
  margin: 0;
}


div.container-fluid{
  padding: 0
}